@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0 0 1rem 0;
    border: 0;
    padding: 0;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

div {
    /* padding: 10vh 10vw, 10vh, 10vw; */
    /* background-color: red; */
}

a {
    color: #ecffa8;
}

h1, h2, h3, h4, h5 {
    font-weight: 800;
    color: white;
}

 p {
    color: white;
    font-weight: 100;
}

#phone {
    height: 100vh;
    min-height: 30rem;
    max-height: 60rem;
}

#logo {
    height: 5rem;
}

.cols {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
    /* padding: 1rem 10rem 0rem 1rem; */
    text-align: center;
}

.col {
    /* background-color: red; */

}

input[type="text"], input[type="email"] {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #c9c9c9;
    color: white;
    display: block;
    float: left;
    outline: 0;
    padding: 0;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 1rem;;
    font-size: 1rem;
    min-height: 2rem;
}

input[type="submit"] {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 4px;
    letter-spacing: 0.35em;
    background-color: rgb(77, 77, 77);
    height: 2rem;
    width: 8rem;
    font-weight: 900;
    color: white;
    margin: auto;
}

input[type="submit"]:hover {
    background-color: #e4ff83;
}
input[type="radio"] {
    color: white;
    background-color: red;
    height: 10rem;
    width: 10rem;
}

.footer {
    text-align: center;
    width: 500px;
    margin: auto;
    /* background-color: red; */
}

.centerify {
    top: 50%;
    left: 100%;
    width: 70%;
    height: 50%;
    transform: translate(25%, 50%);
}

.error {
    /* color: #CC5555; */
    color: #55cc66;
    margin: 3rem 0 5rem 0;
}

li {
    /* transform: translate(12vw, 0%); */
}

@media only screen and (max-width: 60rem) {
    .cols {
        grid-template-columns: 1fr;
    }

    .centerify {
        transform: translate(25%, 0%);
    }
}
