@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 800;
    color: white;
}

h2, h3, h4, h5, p {
    color: white;
    font-weight: 100;
}

img {
    position: float;
}